/*
blue : #0065FC
light blue : #DEEBFF
grey : #F2F2F2
box-shadow: 0px 0px 9px 3px #cecece;
*/

/*basic setting*/
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

/*header*/
header {
  width: 94%;
  height: 90px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

header img {
  height: 60px;
  margin: auto 0;
}

nav {
  display: flex;
  width: 300px;
}

nav div {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

nav div:hover {
  border-top: #0065fc 2px solid;
}

nav div:hover a {
  color: #0065fc;
}

main {
  width: 94%;
  margin: auto;
}

/* title, search and filter */
.title-box {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.search-bar {
  display: flex;
}

.fa-location-dot {
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 10px 0 0 10px;
  font-size: 18px;
}

input {
  border: 1px solid #f2f2f2;
  padding-left: 10px;
  border-right: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: #0065fc;
  color: white;
  font-weight: 600;
  padding: 0 15px;
  border-radius: 0 10px 10px 0;
  font-size: 16px;
}

.filter {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.filter p {
  font-weight: 600;
}

.filter-bar {
  display: flex;
  column-gap: 30px;
  flex-wrap: wrap;
}

.filter-ele {
  display: flex;
}

.filter-ele i {
  background-color: #deebff;
  color: #0065fc;
  font-size: 18px;
  margin: auto;
  padding: 15px 17px;
  border-radius: 50px;
  position: relative;
  left: 20px;
}

.filter-ele p {
  border: 1.8px #f2f2f2 solid;
  margin: auto;
  padding: 13px 25px;
  border-radius: 0 50px 50px 0;
  font-weight: 600;
}

.filter-ele p:hover {
  color: #0065fc;
  cursor: pointer;
}

.info {
  display: flex;
  align-items: center;
}

.info i {
  color: #0065fc;
  border: 1px #f2f2f2 solid;
  padding: 5px 10px;
  border-radius: 50%;
}

.info p {
  margin-left: 10px;
}

/*all rooms cart*/
.all-rooms {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 40px 0;
}
/*marseille rooms card*/
.marseille-rooms {
  border-radius: 30px;
  background-color: #f2f2f2;
  padding: 40px;
  width: 65%;
}

.marseille-rooms h2 {
  margin-bottom: 30px;
}

.marseille-card-box {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.marseille-card-box a {
  min-width: 220px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-direction: column;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  box-shadow: 0px 0px 9px 3px #cecece;
}

.marseille-card-box a:hover {
  transform: scale(1.05);
  transition: all 500ms ease;
}

.marseille-room-card img {
  object-fit: cover;
  height: 110px;
  width: 100%;
  min-width: 220px;
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: 20px 20px 0 0;
}

.marseille-room-nama-price-rate {
  display: flex;
  gap: 7px;
  flex-direction: column;
  margin: 10px auto 10px 5px;
}

.marseille-room-nama-price-rate p span {
  font-weight: 500;
}

.rate {
  color: #0065fc;
}

.rate-no-color {
  color: #f2f2f2;
}

.affiche-link {
  font-weight: 700;
  font-size: 18px;
  margin-top: 30px;
}

/*popular rooms*/
.popular-rooms {
  border-radius: 30px;
  background-color: #f2f2f2;
  padding: 40px;
  width: 32%;
}

.popular-rooms-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.popular-rooms-header i {
  font-size: 20px;
}

.popular-card-box {
  display: flex;
  flex-direction: column;
  height: 95%;
  gap: 30px;
}

.popular-card-box a {
  width: 100%;
}

.popular-room-card {
  display: flex;
  background-color: white;
  width: 100%;
  height: 130px;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0px 0px 9px 3px #cecece;
}

.popular-room-card:hover {
  transform: scale(1.05);
  transition: all 500ms ease;
}

.popular-room-card img {
  height: 100%;
  width: 130px;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}

.popular-room-nama-price-rate {
  display: flex;
  gap: 7px;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px 0 5px 10px;
}

.popular-room-nama-price-rate p span {
  font-weight: 500;
}

/*activity in marseille*/
.activities-box {
  margin-top: 30px;
  display: grid;
  max-width: 100%;
  max-height: 400px;
  grid-gap: 40px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "img-1 img-2 img-4 img-5"
    "img-1 img-3 img-4 img-6";
}

#img-1 {
  grid-area: img-1;
}
#img-2 {
  grid-area: img-2;
}
#img-3 {
  grid-area: img-3;
}
#img-4 {
  grid-area: img-4;
}
#img-5 {
  grid-area: img-5;
}
#img-6 {
  grid-area: img-6;
}

.activities-box a {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0px 0px 9px 3px #cecece;
}

.activities-box a:hover {
  transform: scale(1.05);
  transition: all 500ms ease;
}

.activities-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.activities-box p {
  margin: 13px 0 13px 10px;
  background-color: white;
  font-weight: 600;
}

/*footer*/
footer {
  width: 100%;
  background-color: #f2f2f2;
  margin-top: 50px;
  padding: 40px 0;
}

.footer-lists {
  margin: auto;
  width: 94%;
  display: flex;
}

.footer-individual-list {
  width: 500px;
}

.footer-individual-list li {
  list-style: none;
  margin-top: 18px;
}
